<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="tcp" port="12345">
					<serverProviders>
						<formatter ref="soap" typeFilterLevel="Full" />
					</serverProviders>
				</channel>
			</channels>
			<service>
				<wellknown
				   type="server.RemoteObject, Server"
				   mode="Singleton" objectUri="RemoteObject"
				/>
			</service>
		</application>
	</system.runtime.remoting>
</configuration>